
<h1 style="text-decoration: underline">#BroGram</h1>
<%= react_component('App') %>


<%= form_for @photo do |f| %>
 <%= f.file_field :photo %>
 <%= f.submit "Post" %>
<% end %>
<br>

<% if false %>
<%= image_tag @new_photo.photo.url(:medium) %>
<% end %>
