
<h1>Hello World</h1>
<%= react_component('App') %>

<% if false %>
<%= form_for @photo do |f| %>
 <%= f.file_field :photo %>
 <%= f.submit "Post" %>
<% end %>
<br>


<%= image_tag @new_photo.photo.url(:medium) %>
<% end %>
